{% extends "base.html" %}
{% block page_content %}

<body class="container" style="background-image: url('https://www.visa.co.nz/dam/VCOM/global/partner-with-us/images/apple-pay-new-1600x900.jpg');">
  <h2 class="text-center mb-4 display-4 text-black" style="background-color:#f0b9a4c4"> 
    𝐖𝐞𝐥𝐜𝐨𝐦𝐞 𝐭𝐨 𝐓𝐫𝐚𝐧𝐬𝐚𝐜𝐭𝐢𝐨𝐧 𝐇𝐢𝐬𝐭𝐨𝐫𝐲</h2>
    <div style="text-align: right">
      <div class="form-floating MB" >
        <a type="submit" class="btn btn-secondary btn-lg" style="background-color:#0d2369" href="{% url 'Landing' %}" >HOME</a>
    </div>
<div class="table-active table-bordered text-black" style="background-color:#d0d8f3">

    <table id="txnTable" class="table">
        <thead>
          <tr>
            <th scope="col">Serial No.</th>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Amount</th>
            <th scope="col">Timestamp</th>
          </tr>
        </thead>
        <!-- <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Larry</td>
            <td>the Bird</td>
            <td>@twitter</td>
          </tr>
        </tbody> -->
      </table>
      <!-- <div id="div1"> 
    </div> -->
      <script>
          var txnData = {{txnData|safe}};
            for(var i=0;i<txnData.length;i++)
            {
                var tr="<tr>";
                var td0="<td>"+(i+1)+"</td>";
                var td1="<td>"+txnData[i]["from"]+"</td>";
                var td2="<td>"+txnData[i]["to"]+"</td>";
                var td3="<td>"+txnData[i]["amount"]+"</td>";
                var td4="<td>"+txnData[i]["timestamp"]+"</td></tr>";

                $("#txnTable").append(tr+td0+td1+td2+td3+td4); 

            }   

      </script>
      </div>
    </body>
    {% endblock %}